services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  server:
    build: .
    network_mode: "host"
    environment:
      HTTP_ADDR: "172.29.172.1:8080"
      DATABASE_URL: "postgres://app:app@127.0.0.1:5432/app?sslmode=disable"
    depends_on:
      - db

volumes:
  db_data: {}

